project:
  type: website
  output-dir: docs
  resources:
    - js/

execute:
  freeze: auto

website:
  title: "Lawrence Wu"
  site-url: https://lawwu.github.io/blog.html
  description: "This is Lawrence Wu's personal website"
  open-graph: true
  google-analytics: "G-LN4GM4FVCJ"
  cookie-consent: true
  twitter-card: 
    card-style: summary_large_image
    creator: "@law_wu"  
  navbar:
    right:
      - text: Blog
        href: blog.qmd
      - text: Projects
        href: projects.qmd
      - text: TIL
        href: https://lawwu.github.io/til/
      - icon: github
        text: GitHub
        href: https://github.com/lawwu
      - icon: twitter
        text: Twitter
        href: https://twitter.com/law_wu   
      - icon: envelope
        href: mailto:lawrencewu1+blog@gmail.com
      - icon: rss
        href: blog.xml  
format:
  html:
    theme: cosmo
    css: styles.css
    include-in-header:
      - text: |
          <script>
            // Log script loading attempt
            console.log('Loading GitHub stars script');
            
            // Simple script loading for main website
            const scriptTag = document.createElement('script');
            scriptTag.src = '/js/github-stars.js';
            scriptTag.async = false;
            scriptTag.defer = true;
            scriptTag.onload = () => console.log('GitHub stars script loaded successfully');
            scriptTag.onerror = (err) => console.error('Error loading GitHub stars script:', err);
            
            // Append to document head
            document.head.appendChild(scriptTag);
          </script>
      - text: |
          <script src="https://www.blueletterbible.org/assets/scripts/blbToolTip/BLB_ScriptTagger-min.js" type="text/javascript"></script>
          <script type="text/javascript">
            BLB.Tagger.Translation = 'ESV';
            BLB.Tagger.HyperLinks = 'all';
            BLB.Tagger.HideTanslationAbbrev = false;
            BLB.Tagger.TargetNewWindow = true;
            BLB.Tagger.DarkTheme = false;
            BLB.Tagger.Style = 'par';
            BLB.Tagger.NoSearchTagNames = '';
            BLB.Tagger.NoSearchClassNames = 'noTag doNotTag';
          </script>
